.footer {
  background-image: url(/backgroun2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 5em;
  p {
    text-align: center;
  }
  .Joe {
    color: red;
  }
}
