.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    .navlink {
        display: flex;
        gap: 1em;
        a {
            text-decoration: none;
            color: #fff;
        }
        a:hover {
            color: orangered;
        }
    }
    .icon {
        display: flex;
        gap: 1em;
        svg {
            color: #fff;
        }
        .heart {
            padding: .2em;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        .cart {
            padding: .2em;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}