.mainOfShopCard {
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(43, 42, 42);

  img {
    height: 200px;
    width: 250px;
    border-radius: 1em;
  }
  .price_evaluation {
    display: flex;
    justify-content: space-between;
    .price {
      color: red;
    }
    .evaluation {
      color: #fff;
      svg {
        color: yellow;
      }
    }
  }
  p {
    color: #fff;
    text-align: start;
  }
  .sign {
    svg {
        color: red;
    }
  }
}
