.mainOfAbout {
  background: linear-gradient(to bottom, 
  rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.7)),
  url(/shop_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  h1 {
    text-align: center;
    color: #fff;
    padding: 2.5em;
  }
}

.aboutDetailes {
  background-image: url(/backgroun2.png);
  height: 100vh;
}
