.mainOfCart {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/shop_background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;

  h1 {
    text-align: center;
    color: #fff;
    padding: 2.5em;
  }
}

.detailsOfCart {
  background: url(/backgroun2.png);
  height: 100vh;
  padding: 1em;
  h3 {
    color: #fff;
    padding: 1em;
  }
  .cards {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
}

.mainOfCards {
  display: flex;
  align-items: center;
}
