.mainOfWhishList {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/shop_background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;

  h1 {
    text-align: center;
    color: #fff;
    padding: 2.5em;
  }
}

.cards {
    background: url(/backgroun2.png);
    height: 80vh;
    padding: 5em;

    .card {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
}